.btnExpandTotal,.btnCollapseTotal{
    
    font-size: 10px;
    text-align: center;
}
.btnExpandTask, .btnCollapseTask{
    
    font-size: 10px;
    text-align: center;
}
.btnExpandTask2, .btnCollapseTask2{
    
    font-size: 10px;
    text-align: center;
}